<div class="container mt-5">
    <div class="row">
        <div class="col">
            <form class="product__form" [formGroup]="form">
                <div class="product__form-row">
                    <label for="name">Name</label>
                    <input type="text" formControlName="name" class="form-control" />
                </div>
                <div class="product__form-row">
                    <label for="name">Price</label>
                    <input type="number" formControlName="price" class="form-control" />
                </div>
                <div class="product__form-row">
                    <label for="name">Quatity</label>
                    <input type="number" formControlName="quantity" class="form-control" />
                </div>
                <div class="text-center">
                    <button class="btn btn-dark mt-4" (click)="addProduct()">Add product</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <h1>Productos</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <caption>Total: {{totalPrice()}}</caption>
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @for (product of products(); track $index) {
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }}</td>
                        <td class="quantity-selector">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-warning" (click)="decreaseQuantity(product.id)">-</button>
                                <button type="button" class="btn btn-warning">{{product.quantity}}</button>
                                <button type="button" class="btn btn-warning" (click)="increaseQuantity(product.id)">+</button>
                            </div>
                        </td>
                        <td class="delete-button">
                            <button class="btn btn-danger" (click)="deleteProduct(product.id)">Eliminar</button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>